$content-width: 800px;
$main: #BD2031;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #BD2031;
$link-hover-color: $main;
$heading-font: 'Lobster', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  #323266;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
